body {
    opacity: 0;
}

body:hover {
    opacity: 1;
}

div {
    text-align: center;
    margin-top: 250px;
    font-size: 30px;
}

div:hover {
    display: block;
    color: green;
    text-align: center;
    margin-top: 250px;
    font-size: 30px;
    transition: all 0.5s ease-in; 
    cursor: pointer;
    opacity: 1;
    animation-name: float;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    position: relative;
}

@keyframes slide {
    from{left: 0px;}
    to{left: 100px;}
}

@keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translateY(0px);
    }
    50% {
      box-shadow: 0px 25px 15px 0px rgba(0,0,0,0.2);
      transform: translateY(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translateY(0px);
    }
  }